@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    int GetAge(int birthYear)
    {
        return 2018 - birthYear;
    }
}

<style>
    table {
        border: 2px solid #eee;
    }
    td,
    th {
        padding: 5px 10px;
    }
    tr:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    tr:nth-child(even),
    thead {
        background-color: #eee;
    }
</style>

<h3>@Model.Message</h3>

<form method="post">
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@GetAge(customer.BirthYear)</td>
                    <td><a asp-page="./Edit" asp-route-id="@customer.Id">Edit</a></td>
                    <td><button type="submit" asp-page-handler="delete" asp-route-id="@customer.Id">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</form>
